{% extends 'base.html.twig' %}

{% block title %}Password{% endblock %}

{% block body %}

{{ form_start(requestForm) }}

    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p class="padding-bottom-none bold">{{ message }}</p>
            {{ form_errors(requestForm.email) }}
        </div>
    {% endfor %}

    <div class="form-last-div-space">
        {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}
    </div>

    <button class="btn btn-primary">Send email</button>

{{ form_end(requestForm) }}

{% endblock %}