{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

{{ form_start(resetForm) }}

    <h2>Reset Password</h2>

    {% for message in app.flashes('warning') %}
        <div class="warning-flash" id="reset_password_flash">
            <p class="padding-bottom-none bold">{{ message }}</p>
            {{ form_errors(resetForm.plainPassword) }}
        </div>
    {% endfor %}

    <div class="none pass-verif warning-flash">
        <p class="none pass-verif padding-bottom-none bold">Complete the following step and try again.</p>
        <ul class="none pass-verif">
            <li class="none pass-verif pass-verif-msg"></li>
        </ul>
    </div>

    <div>
        {{ form_label(resetForm.plainPassword) }}
        {{ form_widget(resetForm.plainPassword) }}
    </div>

    <div class="form-last-div-space">
        <label for="reset_password_verif_pass" class="required">Repeat Password</label>
        <input type="password" id="verif_pass" name="reset_password_verif_pass" required="required" minlength="5" maxlength="30">
    </div>

    <div>
        {{ form_label(resetForm.submit) }}
        {{ form_widget(resetForm.submit) }}   
    </div>

{{ form_end(resetForm) }}

{% endblock %}