{% extends 'base.html.twig' %}

{% block title %}Password{% endblock %}

{% block body %}

{{ form_start(form) }}

    <h2>Edit Password</h2>

    {% for message in app.flashes('warning') %}
        <div class="warning-flash" id="profil_password_flash">
            <p class="padding-bottom-none bold">{{ message }}</p>
            {{ form_errors(form.plainPassword) }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning-old-password') %}
        <div class="warning-flash" id="profil_password_flash">
            <p class="padding-bottom-none bold">{{ message }}</p>
            <ul>
                <li>Password error.</li>
            </ul>
        </div>
    {% endfor %}

    <div class="none pass-verif warning-flash">
        <p class="none pass-verif padding-bottom-none bold">Complete the following step and try again.</p>
        <ul class="none pass-verif">
            <li class="none pass-verif pass-verif-msg"></li>
        </ul>
    </div>

    <div>
        {{ form_label(form.oldPassword) }}
        {{ form_widget(form.oldPassword) }}
    </div>

    <div>
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
    </div>

    <div class="form-last-div-space">
        <label for="verif_pass" class="required">Repeat Password</label>
        <input type="password" id="verif_pass" name="register_verif_pass" required="required" minlength="5" maxlength="30">
    </div>

    <div>
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit) }}
    </div>

{{ form_end(form) }}

{% endblock %}