{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<article>

    <h2>All users</h2>
    
    <p class="padding-bottom-none"><span class="bold">Total users :</span> {{ users|length }}</p>

    <div class="hr"></div>

    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p class="message-flash">{{ message }}</p>
        </div>
    {% endfor %}

    {% for user in users %}
        <div class="margin-bottom">
            <div>
                <p><span class="bold">Email :</span> {{ user.email }}</p>
            </div>
            <div>
                <p><span class="bold">Name :</span> {{ user.name }}</p>
            </div>
            <div>
                <p><span class="bold">Role :</span>
                    {% for role in user.roles %}
                      {{ role }}
                    {% endfor %}
                </p>
            </div>
            <div>
                <p><span class="bold">CreatedAt :</span> {{ user.createdAt|date('d/m/Y') }}</p>
            </div>
            <div>
                <p><span class="bold">UpdatedAt :</span> {{ user.updatedAt|date('d/m/Y') }}</p>
            </div>
            <div class="flex">
                <a class="a-button margin-right-min" href="{{ path('app_admin_users_edit', { id: user.id }) }}">Modifier</a>
                {# <a class="a-button" href="{{ path('app_admin_users_delete', { id: user.id }) }}">Supprimer</a> #}
                {# Ajax #}     
                <a class="a-button margin-left-min" onclick="deleteUser('{{ path('app_admin_users_delete', { id: user.id }) }}')">Supprimer</a>                
            </div>
        </div>
    {% endfor %}
    
</article>

{% endblock %}

{% block javascripts %}
<script>

function deleteUser(path)
{
    let text = "Are you sure you want to delete this user?";

    if (confirm(text) === true)
    {
        $.ajax({
            type: "GET",
            url: path
        }).done(function()
        {
            alert('This user has been deleted.');
            window.location.reload();
        });
    }
}

</script>
{% endblock %}