{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<article>

    <h2>All contacts</h2>

    <p class="padding-bottom-none"><span class="bold">Total contacts :</span> {{ contacts|length }}</p>

    <div class="hr"></div>    

    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p class="message-flash">{{ message }}</p>
        </div>
    {% endfor %}   

    {% for contact in contacts %}
        <div class="margin-bottom">
            <div>
                <p><span class="bold">Email :</span> {{ contact.email }}</p>
            </div>
            <div>
                <p><span class="bold">Name :</span> {{ contact.name }}</p>
            </div>
            <div>
                <p><span class="bold">Subject :</span> {{ contact.subject }}</p>
            </div>
            <div>
                <p><span class="bold">Message :</span> {{ contact.message }}</p>
            </div>
            <div>
                <p><span class="bold">CreatedAt :</span> {{ contact.createdAt|date('d/m/Y') }}</p>
            </div>    
            <div class="flex">
                <a class="a-button margin-right-min" href="{{ path('app_admin_contacts_edit', { id: contact.id }) }}">Modifier</a>
                {# <a class="a-button" href="{{ path('app_admin_contacts_delete', { id: contact.id }) }}">Supprimer</a> #}
                {# Ajax #}
                <a class="a-button margin-left-min" onclick="deleteContact('{{ path('app_admin_contacts_delete', { id: contact.id }) }}')">Supprimer</a>
            </div>
        </div>
    {% endfor %}

</article>

{% endblock %}

{% block javascripts %}
<script>

function deleteContact(path)
{
    let text = "Are you sure you want to delete this contact?";

    if (confirm(text) === true)
    {
        $.ajax({
            type: "GET",
            url: path
        }).done(function()
        {
            alert('This contact has been deleted.');
            window.location.reload();
        });
    }
}

</script>
{% endblock %}